[Unit]
Description=SSD1306 Display Service
After=sysinit.target
Before=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/volumio/main.py
WorkingDirectory=/home/volumio/
Restart=always
User=volumio
Group=volumio
Environment=PYTHONUNBUFFERED=1
Type=idle

[Install]
WantedBy=multi-user.target

